.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  flex-direction: column;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.btn {
  display: inline-block;
  padding: 16px 32px;
  background: transparent;
  outline: none;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 10px;
  transition-duration: 0.5s;
}

.btn:hover {
  background: white;
  color: black;
  box-shadow: 0 0 10px 1px white;
}
.errorMsg {
  color: red;
  font-family: monospace;
  letter-spacing: 2px;
}